<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная</title>
    <link rel="stylesheet" href="/main.css">
    <link rel="stylesheet" href="/home.css">
    <link rel="stylesheet" href="/jisla.css">
    <link rel="stylesheet" href="/slovar.css">
</head>
<body>
    <div class="page">
        <div class="header">
            <div class="header-icon">
                <i class="fa-solid fa-heart" ></i>
            </div>
            <div class="header-element">
                    <a href="/" class="header-element-link">Главная</a>
            </div>
            <div class="header-element">
                    <a href="/information" class="header-element-link">Информация</a>
            </div>
            <div class="header-element">
                    <a href="/uroki" class="header-element-link">Уроки</a>
            </div>
            <div class="header-element">
                    <a class="header-element-link" href="/cartinka">Карточки со словами</a>
            </div>
            <div class="header-element">
                    <a href="/dictionary" class="header-element-link">Тематический словарь</a>               </p>
            </div>
        </div>
        <div class="content">
            {{{body}}}
        </div>
    </div>
    <script src="https://kit.fontawesome.com/f73019167d.js" crossorigin="anonymous"></script>
</body>
</html>