<div class="card1">
  <a href="/jisla" class="jisla">
    <img
      src="https://grizly.club/uploads/posts/2023-02/thumbs/1675859098_grizly-club-p-tsifri-cherno-belie-klipart-41.png"
      class="d-block w-100"
      alt="..."
    />
  </a>
  <a href="/ludi" class="ludi">
    <img
      src="https://png.pngtree.com/png-vector/20220621/ourmid/pngtree-icon-of-corporate-team-or-people-group-png-image_5252482.png"
      class="d-block w-100"
      alt="..."
    />
  </a>
  <a href="/semya" class="semya">
    <img
      src="https://www.pinclipart.com/picdir/big/571-5716632_clip-art-png-download.png"
      class="d-block w-100"
      alt="..."
    />
  </a>
  <a href="juvstva" class="juvstva">
    <img
      src="https://cdn-icons-png.flaticon.com/512/1884/1884143.png"
      class="d-block w-100"
      alt="..."
    />
  </a>
  <a href="eda" class="eda">
    <img
      src="https://freevector.co/wp-content/uploads/2014/07/33059-heart-dish.png"
      class="d-block w-100"
      alt="..."
    />
  </a>
</div>
<div class="card2">
  <div class="j1">
    <p>
      Числа
    </p>
  </div>
  <div class="l1">
    <p>
      Люди
    </p>
  </div>
  <div class="s1">
    <p>
      Семья
    </p>
  </div>
  <div class="j2">
    <p>
      Чувства и эмоции
    </p>
  </div>
  <div class="e1">
    <p>
      Еда
    </p>
  </div>
</div>


{{#each spisok}}
<div class="card">
  
  <h1>{{this}}</h1>

</div>
{{/each}}

<audio controls src="/dog.mp3"></audio>




