<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Числа</title>
    <link rel="stylesheet" href="/jisla.css">
</head>
<body>
    <div class="container">
        <div class="stik">
            <i class="fa-solid fa-heart" ></i>
        </div>
        <div class="milo-home">
            <p>
                <a href="/" style="color:#75b688; cursor:grab; text-decoration: none;">Главная</a>
            </p>
        </div>
        <div class="milo-information">
            <p>
                <a href="/Information" style="color:#75b688; cursor:grab; text-decoration: none;">Информация</a>
            </p>
        </div>
        <div class="milo-uroki">
            <p>
                <a href="/uroki" style="color:#75b688; cursor:grab; text-decoration: none;">Уроки</a>
            </p>
        </div>
        <div class="milo-cartinka">
            <p>
                <a href="/cartinka" style="color:#75b688; cursor:grab; text-decoration: none;">Карточки со словами</a>
            </p>
        </div>
        <div class="milo-dictionary">
            <p>
                <a href="/dictionary" style="color:#75b688; cursor:grab; text-decoration: none;">Тематический словарь</a>
            </p>
        </div>
    </div>
    <div class="container2">
        <div class="card1">
            <p>0</p>
            <p>1</p>
            <p>2</p>
            <p>3</p>
            <p>4</p>
        </div>
        
    </div>
    <script src="https://kit.fontawesome.com/f73019167d.js" crossorigin="anonymous"></script>
</body>
</html>