<table class="table">
  <thead>
    <tr>
      <th>*</th>
      <th>Транскрипция</th>
      <th>Аудио</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <ul class="png">
          <img src="card/lubov.png" />
        </ul>
      </td>
      <td>
        <ul class="li">
          <li>любовь</li>
          <li>sarang</li>
          <li>사랑</li>
        </ul>
      </td>
      <td><audio class="audio" controls src="./dog.mp3"></audio></td>
    </tr>
    <tr>
      <td>
        <ul class="png">
          <img src="card/stastye.png" />
        </ul>
      </td>
      <td>
        <ul class="li">
          <li>счастливый</li>
          <li>haengbokhan</li>
          <li>행복한</li>
        </ul>
      </td>
      <td><audio controls src="./dog.mp3"></audio></td>
    </tr>
    <tr>
      <td>
        <ul class="png">
          <img src="card/grust.png" />
        </ul>
      </td>
      <td>
        <ul class="li">
          <li>грустный</li>
          <li>seulpeun</li>
          <li>슬픈</li>
        </ul>
      </td>
      <td><audio controls src="./dog.mp3"></audio></td>
    </tr>
    <tr>
      <td>
        <ul class="png">
          <img src="card/serdit.png" />
        </ul>
      </td>
      <td>
        <ul class="li">
          <li>сердитый</li>
          <li>hwanan</li>
          <li>화난</li>
        </ul>
      </td>
      <td><audio controls src="./dog.mp3"></audio></td>
    </tr>
    <tr>
      <td>
        <ul class="png">
          <img src="card/strah.png" />
        </ul>
      </td>
      <td>
        <ul class="li">
          <li>страх</li>
          <li>duryeoum</li>
          <li>두려움</li>
        </ul>
      </td>
      <td><audio controls src="./dog.mp3"></audio></td>
    </tr>
    <tr>
      <td>
        <ul class="png">
          <img src="card/stradaniye.png" />
        </ul>
      </td>
      <td>
        <ul class="li">
          <li>страдания</li>
          <li>gotong</li>
          <li>고통</li>
        </ul>
      </td>
      <td><audio controls src="./dog.mp3"></audio></td>
    </tr>
  </tbody>
</table>