@font-face {
    font-family: 'milo';
    src:url('/milo-VariableFont_wght.ttf');
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.page {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.header {
    display: flex;
    height: 45px;
    background-color: rgb(231, 253, 209);
    
    z-index: 1;
}
.content {
    flex-grow: 1;
    background-color: rgb(231, 253, 209);
}
.container3 {
    height: 92.5vh;
    background-color: rgb(231, 253, 209);
}
.stik {
    margin-left: 10px;
    margin-top: 10px;
    color:#89d7a0;
}
.header p {
    border: dashed;
    border-color: rgb(248, 218, 236);
    margin-left: 40px;
    border-width: thin;
    border-radius: 20%;
    background-color: rgb(231, 253, 209);
    margin-top: 7px;
    width:200px;
    padding-top: 5px;
    font-size: 14pt;
    text-align:center;
    border-bottom: 3px solid rgb(248, 218, 236);
    box-shadow: 10px 10px 10px rgb(248, 218, 236);
    font-style: italic;
}
.header-menu-link {
    color:#75b688;
    cursor:grab; 
    text-decoration: none;
}
.header-menu-link:hover {
    text-shadow: 0px 0px 1px grey;
}
.card p {
    margin-left: 180px;
    padding-top: 27px;
}

