.tr,
th,
td {
  border: black 1px solid;
  padding: 10px;
  font-size: 20pt;
  font-style: italic;
}
.li {
  margin-left: 20px;
}
.table {
  border-collapse: collapse;
  width: 100%;
}
.audio {
  cursor: grab;
}
