@font-face {
  font-family: "milo";
  src: url("/milo-VariableFont_wght.ttf");
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: rgb(231, 253, 209);
}
.content {
  flex-grow: 1;
  background-color: rgb(231, 253, 209);
  margin-top: 20px;
}
.header {
  display: flex;
  height: 45px;
  background-color: rgb(231, 253, 209);

  z-index: 1;
}
.header-icon {
  margin-left: 10px;
  margin-top: 10px;
  color: #89d7a0;
}
.header-element {
  border: dashed;
  border-color: rgb(248, 218, 236);
  margin-left: 40px;
  border-width: thin;
  border-radius: 20%;
  background-color: rgb(231, 253, 209);
  margin-top: 7px;
  width: 200px;
  padding-top: 5px;
  font-size: 14pt;
  text-align: center;
  border-bottom: 3px solid rgb(248, 218, 236);
  box-shadow: 10px 10px 10px rgb(248, 218, 236);
  font-style: italic;
}
.header-element-link {
  color: #75b688;
  cursor: grab;
  text-decoration: none;
}
.header-element-link:hover {
  text-shadow: 0px 0px 1px grey;
}
.tr,
th,
td {
  border: #75b688 10px double;
  padding: 10px;
  font-size: 20pt;
  font-style: italic;
  border-width: medium;
  background-color: rgb(231, 253, 209);
  box-shadow: 10px 10px 10px rgb(248, 218, 236);
}
.tr,
th,
td {
  border: #75b688 10px double;
  padding: 10px;
  font-size: 20pt;
  font-style: italic;
  border-width: medium;
  background-color: rgb(231, 253, 209);
  box-shadow: 10px 10px 10px rgb(248, 218, 236);
}
.li {
  margin-left: 20px;
}
.table {
  border-collapse: separate;
  width: 100%;
}
.tr,
th,
li,
td {
  color: #416e4f;
}
